html,
body,
.app {
    height: 100vh;
    background-color: #eee;
    padding: 1em;
}

.messages {
    height: 360px;
    overflow-y: scroll;
}

.message__form {
    position: fixed !important;
    bottom: 1em;
    margin-left: 320px !important;
    left: 0;
    right: 1em;
    z-index: 200;
}
